{% extends "base.html" %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static "css/register_login.css" %}"-->
<div class="row justify-content-center">
  <div class="wrapper">
      <!-- add alert -->
      <div>{% include "partials/_alert.html" %}</div>
      <div class="title-text">
        <div class="title login">Login</div>
        <div class="title register">Register</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <a href="{% url "login" %}" class="slide login" id="login-tab" onclick="toggleTab('login')" style="text-decoration: none;">Login</a>
          <a href="{% url "register" %}" class="slide register" id="register-tab" onclick="toggleTab('register')" style="text-decoration: none;">Register</a>
          <div class="slider-tab"></div>
      </div>
      
        <div class="form-inner">
          <form action="{% url "login" %}" class="login" method="POST">
            {% csrf_token %}
            <div class="field">
              <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="field">
              <input type="password" name="password" placeholder="Password" required>
            </div>
            <!--div class="pass-link"><a href="#">Forgot password?</a></div-->
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="register-link">Not a member ? <a href="{% url "register" %}">Register now</a></div>
          </form>
          <form action="#" class="register">
            <div class="field">
              <input type="text" placeholder="Username" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock  %}

