{% extends "base.html" %}
{% load static %}
{% block content %}
<!--link rel="stylesheet" href="{% static "css/register_login.css" %}"-->
<div class="row justify-content-center">
    <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login</div>
          <div class="title register">Register</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="register">
            <label for="login" class="slide login">Login</label>
            <label for="register" class="slide register">Register</label>
            <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
            <form action="#" class="login">
              <div class="field">
                <input type="text" placeholder="Username" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>
              <!--div class="pass-link"><a href="#">Forgot password?</a></div-->
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
              <div class="register-link">Not a member ? <a href="">Register now</a></div>
            </form>
            <form action="#" class="register">
              <div class="field">
                <input type="text" placeholder="Username" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Password" required>
              </div>
              <div class="field">
                <input type="password" placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Register">
              </div>
            </form>
          </div>
        </div>
    </div>
</div>


{% endblock  %}

