{% extends "base.html" %} {% load static %} {% block content %}
<section class="profile-section" id="profilebody">
    <div class="container">
        <div class="profile-content">
            <!-- Profile Photo and Title -->
            <div class="profile-photo">
                <img src="{% static "img/pikachu.jpeg" %}" alt="Victor Mak" class="img photo-size">
                <h2>Data Scientist</h2>
            </div>
            <!-- Profile Text -->
            <div class="profile-text">
                <p>As a data scientist, Tommy has to collect, analyze and interpret large datasets to extrapolate insights. Also, he develops, implements and leverages machine learning models and algorithms. Moreover, he collaborates with WC Chan to ensure data availability and quality. Besides, Tommy communicates data-driven findings and recommendations to stakeholders. In addition to this, he keeps up-to-date with the latest advancements in data science and technology.
                
                The role of Tommy is crucial in managing and interpreting data to gather insights that can solve complex problems and guide business strategy and also provide technical support to our valuable clients and partners.
                </p>
            </div>
        </div>
        <!-- Center Button -->
        <div class="center-button">
            <a href="{% url "team" %}" style="color: #8e44ad" class="btn btn-light">Back to Team</a>
        </div>
    </div>
</section>
{% endblock %}