{% extends "base.html" %} {% load static %} {% block content %}
<section class="profile-section" id="profilebody">
    <div class="container">
        <div class="profile-content">
            <!-- Profile Photo and Title -->
            <div class="profile-photo">
                <img src="{% static "img/sasuke.jpeg" %}" alt="Victor Mak" class="img photo-size">
                <h2>Lead Innovator</h2>
            </div>
            <!-- Profile Text -->
            <div class="profile-text">
                <p>Victor's expertise lies in helping organizations effectively evolve to meet today’s seismic cultural, generational, and technological shifts through customer-centered, digitally-enabled innovation. He builds trusted partnerships and high-performing, inspired teams to imagine new futures for everything from supersonic flight to global beauty, enabling organizations to transform their offers, organizations, and industries in line with the rapidly-evolving values, behaviors, and expectations of global consumers. 
                
                As a lead innovator, Victor is the driving force behind ITTC's cutting-edge robotic solutions. With over 10 years of experience in innovation, he leads the team to success.</p>
            </div>
        </div>
        <!-- Center Button -->
        <div class="center-button">
            <a href="{% url "team" %}" style="color: #8e44ad" class="btn btn-light">Back to Team</a>
        </div>
    </div>
</section>
{% endblock %}