{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
      <div class="accordion" id="accordionExample">
        <!--breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb"style="width: 100%;">
            <li class="breadcrumb-item">
              <a href="{% url "index" %}"> <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Support & Resources</li>
          </ol>
        </nav>
        <div class="card">
          <div class="card-header" id="heading1">
              <h2>
                  <a href="#collapse1"  data-toggle="collapse" aria-expanded="true" aria-controls="collapse1" style="text-decoration: none;"><span style="font-weight: 700; font-size: xx-large;">Our Partners</span></a>
              </h2>
          </div>
          <div class="collapse show" id="collapse1" aria-labelledby="heading1" data-parent="#accordionExample">
            <div class="container-fluid" style="overflow: auto; height: 500px;">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/ittc_logo3.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/ittc_logo3.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/ittc_logo3.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/ittc_logo3.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading2">
              <h2>
                  <a href="#collapse2"  data-toggle="collapse" aria-expanded="true" aria-controls="collapse2" style="text-decoration: none;"><span style="font-weight: 700; font-size: xx-large;">Government Funding Schemes</span></a>
              </h2>
          </div>
          <div class="collapse" id="collapse2" aria-labelledby="heading2" data-parent="#accordionExample">
            <div class="container-fluid" style="overflow: auto; height: 500px;">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/circlegradient2.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/circlegradient2.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/circlegradient2.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/circlegradient2.png" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading3">
              <h2>
                  <a href="#collapse3"  data-toggle="collapse" aria-expanded="true" aria-controls="collapse3" style="text-decoration: none;"><span style="font-weight: 700; font-size: xx-large;">Facilities</span></a>
              </h2>
          </div>
          <div class="collapse" id="collapse3" aria-labelledby="heading3" data-parent="#accordionExample">
            <div class="container-fluid" style="overflow: auto; height: 500px;">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/robotgradientintro2.jpg" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/robotgradientintro2.jpg" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/robotgradientintro2.jpg" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card border-dark h-100">
                    <img src="assets/img/robotgradientintro2.jpg" class="card-img-top" alt="..." style="width: auto; height: 350px;">
                    <div class="card-body">
                      <h5 class="card-title">Card-title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="#" class="btn btn-primary btn-block">View More</a>
                    </div>
                    <div class="card-footer text-center"><i class="fas fa-clock"></i> list-data</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
</section>
{% endblock %}