{% extends "base.html" %}
{% load static %}
{% block content %}


    
   
    
<section id="timelinebody">

    <!-- Timeline Section -->
    <section class="timeline-section container">
        <h2 class="text-center mb-5" style="color: #d1b3ff;">News & Events Timeline</h2>
        <div class="container">    
            <div class="row text-center justify-content-center">
              <div class="col-md-12">
                <form action="{% url 'search_news' %}" class="d-flex align-items-center justify-content-center">
                    <div class="form-group mb-0 me-2">
                        <label class="sr-only">Keywords</label>
                        <input
                            type="text"
                            name="keywords"
                            class="form-control text-center"
                            placeholder="Keyword, place etc"
                            value="{{values.keywords}}"
                            style="height: 100%;"
                        />
                    </div>
                    
                    <div class="form-check form-check-inline mb-0 me-2">
                        <label class="form-check-label" style="color: blue;">
                            <input class="form-check-input" type="checkbox" name="news" value="true" {% if values.news %}checked{% endif %} /> News
                        </label>
                    </div>
                    
                    <div class="form-check form-check-inline mb-0 me-2">
                        <label class="form-check-label" style="color: blue;">
                            <input class="form-check-input" type="checkbox" name="events" value="true" {% if values.events %}checked{% endif %} /> Events
                        </label>
                    </div>
                    <div class="form-group mb-0 me-2">
                        <label class="sr-only">Post Date</label>
                        <input
                            type="date"
                            name="post_date"
                            class="form-control text-center"
                            placeholder="Date starts with"
                            value="{{values.post_date}}"
                            style="height: 100%;"
                        />
                    </div>
                    <button class="btn btn-secondary" type="submit" style="height: 100%; width: 100px;">
                        Search
                    </button>
                </form>
              </div>
            </div>
            
              
        </div>
        <div class="separator"></div>
        {% if newsevents %}
        <div class="timeline">
            
            {% for newsevent in newsevents %}
            {% if forloop.counter|divisibleby:2 %}
            <!-- Timeline Event Left -->
            <div class="timeline-event timeline-event-left" data-bs-toggle="modal" data-bs-target="#modal-{{forloop.counter}}">
                <h4 style="font-size: 1.0rem;">{{newsevent.title}}</h4>
                <p class="event-date" style="font-size: 0.7rem;">Date: {{newsevent.post_date}}</p>
                <p class="event-venue" style="font-size: 0.7rem;">Venue: {{newsevent.location}}</p>
                <p style="font-size: 0.7rem;"><b>Click to learn more about this {% if newsevent.is_Events%} event {% else %} news {% endif %}.</b></p>
            </div>
            {% else %}
            <!-- Timeline Event Right -->
            <div class="timeline-event timeline-event-right" data-bs-toggle="modal" data-bs-target="#modal-{{forloop.counter}}">
                <h4 style="font-size: 1.0rem;">{{newsevent.title}}</h4>
                <p class="event-date" style="font-size: 0.7rem;">Date: {{newsevent.post_date}}</p>
                <p class="event-venue" style="font-size: 0.7rem;">Venue: {{newsevent.location}}</p>
                <p style="font-size: 0.7rem;"><b>Click to learn more about this {% if newsevent.is_Events%} event {% else %} news {% endif %}.</b></p>
            </div>
            {% endif %}
            {% endfor %}
                      
            
        </div>
        
         {% endif %}
    </section>
    
    <!-- Modals Section -->
   
    {% for newsevent in newsevents %}
    <div class="modal fade" id="modal-{{forloop.counter}}" tabindex="-1" aria-labelledby="modal-{{forloop.counter}}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{newsevent.title}}">{{newsevent.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: black;">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if newsevent.image %}
                        <img src="{{ newsevent.image.url }}" alt="{{ newsevent.title }}" class="img-fluid mb-3">
                    
                    {% endif %}
                    {% if newsevent.iframe %}
                    <div class="video-container"> 
                        <iframe 
                            id="video-{{ forloop.counter }}"
                            width="560" 
                            height="315" 
                            src="{{newsevent.iframe}}"
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div> 
                    <script>
                        document.getElementById('modal-{{ forloop.counter }}').addEventListener('shown.bs.modal', function () {
                            const iframe = document.getElementById('video-{{ forloop.counter }}');
                            iframe.src = "{{ newsevent.iframe }}?autoplay=1"; // Add autoplay parameter
                        });
                        document.getElementById('modal-{{ forloop.counter }}').addEventListener('hidden.bs.modal', function () {
                            const iframe = document.getElementById('video-{{ forloop.counter }}');
                            iframe.src = ""; // Reset the iframe source to stop the video
                        });
                    </script>
                    {% endif %}
                    
                    <script>
                        document.getElementById('modal-{{ forloop.counter }}').addEventListener('hidden.bs.modal', function () {
                            const iframe = document.getElementById('video-{{ forloop.counter }}');
                            iframe.src = iframe.src; // Reset the iframe source to stop the video
                        });
                    </script>
                    <p>{{ newsevent.detail }}</p>
                </div>
            </div>
        </div>
    </div>
    
   {% endfor %}
   
</section>

{% endblock %}